@import url(https://fonts.googleapis.com/css?family=Work+Sans);
@import url(https://fonts.googleapis.com/css?family=Suranna);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css);

body {
  background-color: white;
  color: white;
  font-family: 'Work Sans', sans-serif;
  font-weight:400;
  background:yellow;
}

input.form-control {
  height:40px;
  border-radius:0;
  -moz-border-radius:0;
  -webkit-border-radius:0;
  border:1px solid white;
  -webkit-appearance: none;
  outline:none;
}

input.form-control:focus {
  outline:2px solid #0000FF;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

a {
  color:#0000FF !important;
}

a.fa {
  width:auto;
  transition: all ease-in-out 0.2s;
  height:auto;
  background:white;
  color:#0000FF;
  cursor:pointer;
  font-size:15px;
  border-top:1px solid #0000FF;
  text-decoration:none;
  padding:20px;
  width:100%;
}

span.font {
  font-family: 'Work Sans', sans-serif !important;
}

.options {
  margin-left:0 !important;
  margin-right:0 !important;
  border:1px solid yellow;
  background:rgba(255, 255, 0, 0.5);;
  padding:20px;
}

a.fa:hover {
  color:red;
  transition: all ease-in-out 0.4s;
}


button.btn {
  height:auto;
  padding:10px;
  border-radius:0;
  -moz-border-radius:0;
  -webkit-border-radius:0;
  outline:none !important;
  border:none !Important;
}

.btn-primary {
  background-color:#0000cc;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #0000FF;
}

#gifmaster_it_up {
  height:100vh;
  width:100%;
  color:white;
  text-align:center;
  padding:0;
  margin:0;
  background-size:cover;
  background-position:center;
}

h1#your_query_search {
  font-family: 'Suranna', serif;
  color: #0000FF;
  text-transform:uppercase;
  font-size:80px;
  padding-top:100px;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  text-overflow: ellipsis;
  text-shadow:       1px 1px 0 #ffffff,
                     2px 2px 0 #ffffff,
                     3px 3px 0 #ffffff,
                     4px 4px 0 #ffffff,
                     5px 5px 0 #ffffff,
                     6px 6px 0 #0000FF,
                     7px 7px 0 #0000FF;
}

h2 {
  font-family: 'Suranna', serif;
  color: hsl(250,100%,100%);
  text-transform:uppercase;
  font-size:30px;
  padding-top:0px;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  text-shadow:       1px 1px 0 #0000FF;
}

#twitt {
  opacity:0;
  transition:all ease-in-out 0.2s;
}

#twitt.un-hidden {
  opacity:1 !important;
  transition:all ease-in-out 0.2s;
}

.hunnid {
  width:100%;
  position:fixed;
  bottom:0;
  left:0;
  display:none;
}

.fiddy {
  float:left;
  width:33.3333333%;
}

.tiled {
  background-size:auto !important;
}

a:hover {
  transition: all ease-in-out 0.2s;
  color:#0000FF;
  background:white !important;
}

@media (max-width:1044px) {
  a.fa {
    position:static;
    width:100%;
    text-shadow:none;
    cursor:pointer;
    color:white;
    font-size:30px;
    transition: all ease-in-out 0.2s;
    text-decoration:none !Important;
    padding:10px;
  }
  a.fa:hover {
    -ms-transform: none;
    -webkit-transform: none;
    transform: none;
    color:#0000FF;
  }
  #reload2 {
  background:rgba(0, 204, 0, 0.8);
  }

  #link2 {
    background:rgba(0, 0, 204, 0.8);
  }

  #tile2 {
    background:rgba(204, 0, 0, 0.8);
  }
}

.mobile-only {
  display:none;
}

@media (max-width:600px) {
  .mobile-only {
    display:block;
  }
  .hidden-mobile {
    display:none;
  }
}
